{% extends 'base.html' %}

{% block title %}Exchanges - {{ exchange.name }}{% endblock %}

{% set isRegistered = user.id in exchange.registered_user_ids %}
{% set numRegistered = exchange.registered_user_ids|length %}

{% block content %}
  <div class="mb-5">
    <div>
      <h3 style="display: inline-block">{{ exchange.name }}</h3>
      {% if isRegistered %}
        &nbsp;<small class="badge badge-success" style="vertical-align: top">Registered</small>
      {% endif%}
    </div>

    <div class="mb-3">
      <ul class="list-unstyled">
        <li class="mb-1">{{ numRegistered }} {% if numRegistered == 1 %}person{% else %}people{% endif %} registered</li>
        <li class="small">Created on {{ exchange.created_at.strftime('%B %d, %Y') }}</li>
        <li class="small">Ends on {{ exchange.ends_at.strftime('%B %d, %Y') }}</li>
      </ul>
    </div>

    <p>
      {{ exchange.description }}
    </p>

    {% if user.id == exchange.creator_id %}
      {% if numRegistered > 1 and not match_registration %}
        <form method="POST" action="{{ url_for('exchanges.match_post', friendly_id=exchange.friendly_id) }}" style="display: inline-block">
          <button type="submit" class="btn btn-primary mr-3">Match participants</button>
        </form>
      {% endif %}
    {% endif %}
  </div>

  {% if isRegistered %}
    <div class="row">
      <div class="col-lg mb-4">
        <h5>You</h5>
        {{ registration_details(your_registration) }}
      </div>
      <div class="col-lg">
        <h5>Your match</h5>
        {% if match_registration %}
          {{ registration_details(match_registration) }}
        {% else %}
          You haven't been matched yet!
        {% endif %}
      </div>
    </div>
  {% else %}
    <p>
      Fill out the form below to join the gift exchange! Be sure to give detailed responses.
      If you do not provide enough info, any bad gifts you receive will be all your fault.
    </p>

    <form method="POST" action="{{ url_for('exchanges.exchange_register_post', friendly_id=exchange.friendly_id) }}">
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id }}">{{ field.label }}</label>
          {{ field(class="form-control") }}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% endif %}

{% endblock %}

{% macro registration_details(registration) %}
  {% set isYours = registration.user_id == user.id %}

  <p class="card-text">
    Here's the information {% if isYours %}you{% else %}your match{% endif %} submitted for this exchange.
  </p>

  <ul class="list-group">
    <li class="list-group-item">
      <h6>Name</h6>
      <p>{{ registration.user.name }}</p>
    </li>
    <li class="list-group-item">
      <h6>What to get</h6>
      <p>{{ registration.what_to_get }}</p>
    </li>
    <li class="list-group-item">
      <h6>What not to get</h6>
      <p>{{ registration.what_not_to_get }}</p>
    </li>
    <li class="list-group-item">
      <h6>Who to ask for help</h6>
      <p>{{ registration.who_to_ask_for_help }}</p>
    </li>
  </ul>
{% endmacro %}
