{% extends 'base.html' %}

{% block title %}Exchanges{% endblock %}

{% block content %}

  <div class="mb-4">
    <div class="float-right">
      <a href="{{ url_for('exchanges.exchange_create_get') }}" class="btn btn-primary">Create</a>
    </div>
    <h3>Exchanges</h3>
  </div>

  {% if not exchanges %}
    <p>
      There are no exchanges yet. How sad. You should start one!
    </p>
  {% endif %}

  <div class="card-deck">
    {% for exchange in exchanges %}
      {% set isRegistered = user.id in exchange.registered_user_ids %}
      {% set numRegistered = exchange.registered_user_ids|length %}

      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 style="display: inline-block">{{ exchange.name }}</h5>
            {% if isRegistered %}
              &nbsp;<small class="badge badge-success" style="vertical-align: top">Registered</small>
            {% endif%}
          </div>
          <h6 class="card-subtitle mb-2 text-muted">Ends on {{ exchange.ends_at.strftime('%B %d, %Y') }}</h6>
          {% if exchange.description %}
            <p class="card-text">{{ exchange.description }}</p>
          {% endif %}
          <div class="text-center">
              <a href="{{ url_for('exchanges.exchange_get', friendly_id=exchange.friendly_id) }}" class="btn btn-outline-primary">View</a>
          </div>
        </div>
        <div class="card-footer text-muted text-center">
          {{ numRegistered }} {% if numRegistered == 1 %}person{% else %}people{% endif %} registered
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}