{% extends 'base.html' %}

{% block title %}Exchanges - {{ exchange.name }}{% endblock %}

{% block content %}

  <h3>Register for {{ exchange.name }}</h3>

  <p>
    Fill out the form below to join the gift exchange! Be sure to give detailed responses.
    If you do not provide enough info, any bad gifts you receive will be all your fault.
  </p>

  <form method="POST">
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id }}">{{ field.label }}</label>
        {{ field(class="form-control") }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}